body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-106px;
  width:1590px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1582px;
  height:970px;
}
#u687 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:244px;
  width:1582px;
  height:970px;
  display:flex;
}
#u687 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u687_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1578px;
  height:970px;
}
#u688 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:1273px;
  width:1578px;
  height:970px;
  display:flex;
}
#u688 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u688_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1314px;
  height:141px;
}
#u689 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:103px;
  width:1314px;
  height:141px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u689 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u689_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
