body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-44px;
  width:1857px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1857px;
  height:977px;
}
#u449 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:256px;
  width:1857px;
  height:977px;
  display:flex;
}
#u449 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u449_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1838px;
  height:141px;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:88px;
  width:1838px;
  height:141px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u450 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u450_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:771px;
  height:101px;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:916px;
  top:108px;
  width:771px;
  height:101px;
  display:flex;
}
#u451 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u451_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
