body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-48px;
  width:1588px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1576px;
  height:849px;
}
#u857 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:225px;
  width:1576px;
  height:849px;
  display:flex;
}
#u857 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u857_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1314px;
  height:141px;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:36px;
  width:1314px;
  height:141px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u858 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u858_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
