body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-75px;
  width:1314px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1314px;
  height:303px;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:65px;
  width:1314px;
  height:303px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u414 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u414_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
