body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-139px;
  width:1763px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1756px;
  height:753px;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:314px;
  width:1756px;
  height:753px;
  display:flex;
}
#u480 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1763px;
  height:1015px;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:1067px;
  width:1763px;
  height:1015px;
  display:flex;
}
#u481 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u481_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1763px;
  height:927px;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:2120px;
  width:1763px;
  height:927px;
  display:flex;
}
#u482 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u482_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1314px;
  height:141px;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:103px;
  width:1314px;
  height:141px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u483 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
